mixin scr_prod(xTitle)
  section.scr_prod.prod(id="scr_prod-1")
    h2.title=xTitle

    .prod__wrap
      .prod__slider#prod__slider-1
        .swiper-wrapper
          .swiper-slide.prod__slide
            .prod__item
              a.prod__img(href="#")
                noscript
                  img.lazy(src="img-temp/prod/img-1.jpg" alt="" width="125" height="90" data-object-fit-cover)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/prod/img-1.jpg" alt="" width="125" height="90" data-object-fit-cover)
              .prod__content
                a(href="#")
                  h3.prod__title Плайм-коробочка
                    br
                    |  в нежно-розовой гамме

                span.prod__art Арт. 663

              .prod__bottom
                b.prod__price 1 700
                  small  руб.

          .swiper-slide.prod__slide
            .prod__item
              a.prod__img(href="#")
                noscript
                  img.lazy(src="img-temp/prod/img-2.jpg" alt="" width="125" height="90" data-object-fit-cover)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/prod/img-2.jpg" alt="" width="125" height="90" data-object-fit-cover)
              .prod__content
                a(href="#")
                  h3.prod__title Букет из 19 розовых
                    br
                    |  тюльпанов

                span.prod__art Арт. 663

              .prod__bottom
                b.prod__price 1 800
                  small  руб.

          .swiper-slide.prod__slide
            .prod__item
              a.prod__img(href="#")
                noscript
                  img.lazy(src="img-temp/prod/img-3.jpg" alt="" width="125" height="90" data-object-fit-cover)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/prod/img-3.jpg" alt="" width="125" height="90" data-object-fit-cover)
              .prod__content
                a(href="#")
                  h3.prod__title Букет из спрей-роз
                    br
                    |  в упаковке

                span.prod__art Арт. 663

              .prod__bottom
                b.prod__price 1 500
                  small  руб.

          .swiper-slide.prod__slide
            .prod__item
              a.prod__img(href="#")
                noscript
                  img.lazy(src="img-temp/prod/img-4.jpg" alt="" width="125" height="90" data-object-fit-cover)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/prod/img-4.jpg" alt="" width="125" height="90" data-object-fit-cover)
              .prod__content
                a(href="#")
                  h3.prod__title Яркий букет
                    br
                    |  с осенними цветами

                span.prod__art Арт. 663

              .prod__bottom
                b.prod__price 1 500
                  small  руб.

          .swiper-slide.prod__slide
            .prod__item
              a.prod__img(href="#")
                noscript
                  img.lazy(src="img-temp/prod/img-3.jpg" alt="" width="125" height="90" data-object-fit-cover)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/prod/img-3.jpg" alt="" width="125" height="90" data-object-fit-cover)
              .prod__content
                a(href="#")
                  h3.prod__title Букет из спрей-роз
                    br
                    |  в упаковке

                span.prod__art Арт. 663

              .prod__bottom
                b.prod__price 1 500
                  small  руб.

          .swiper-slide.prod__slide
            .prod__item
              a.prod__img(href="#")
                noscript
                  img.lazy(src="img-temp/prod/img-4.jpg" alt="" width="125" height="90" data-object-fit-cover)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/prod/img-4.jpg" alt="" width="125" height="90" data-object-fit-cover)
              .prod__content
                a(href="#")
                  h3.prod__title Яркий букет
                    br
                    |  с осенними цветами

                span.prod__art Арт. 663

              .prod__bottom
                b.prod__price 1 500
                  small  руб.

          .swiper-slide.prod__slide
            .prod__item
              a.prod__img(href="#")
                noscript
                  img.lazy(src="img-temp/prod/img-1.jpg" alt="" width="125" height="90" data-object-fit-cover)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/prod/img-1.jpg" alt="" width="125" height="90" data-object-fit-cover)
              .prod__content
                a(href="#")
                  h3.prod__title Плайм-коробочка
                    br
                    |  в нежно-розовой гамме

                span.prod__art Арт. 663

              .prod__bottom
                b.prod__price 1 700
                  small  руб.

          .swiper-slide.prod__slide
            .prod__item
              a.prod__img(href="#")
                noscript
                  img.lazy(src="img-temp/prod/img-2.jpg" alt="" width="125" height="90" data-object-fit-cover)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/prod/img-2.jpg" alt="" width="125" height="90" data-object-fit-cover)
              .prod__content
                a(href="#")
                  h3.prod__title Букет из 19 розовых
                    br
                    |  тюльпанов

                span.prod__art Арт. 663

              .prod__bottom
                b.prod__price 1 800
                  small  руб.


  // /.scr_prod


mixin scr_prod--pink(xTitle, xID)
  section.scr_prod.prod.prod--pink(id="scr_prod-" + xID +"")
    h2.title=xTitle

    .prod__wrap
      .prod__slider(id="prod__slider-" + xID +"")
        .swiper-wrapper
          .swiper-slide.prod__slide
            .prod__item
              a.prod__img(href="#")
                noscript
                  img.lazy(src="img-temp/prod/img-1.jpg" alt="" width="125" height="90" data-object-fit-cover)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/prod/img-1.jpg" alt="" width="125" height="90" data-object-fit-cover)
              .prod__content
                a(href="#")
                  h3.prod__title Плайм-коробочка
                    br
                    |  в нежно-розовой гамме

                span.prod__art Арт. 663

              .prod__bottom
                b.prod__price 1 700
                  small  руб.

          .swiper-slide.prod__slide
            .prod__item
              a.prod__img(href="#")
                noscript
                  img.lazy(src="img-temp/prod/img-2.jpg" alt="" width="125" height="90" data-object-fit-cover)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/prod/img-2.jpg" alt="" width="125" height="90" data-object-fit-cover)
              .prod__content
                a(href="#")
                  h3.prod__title Букет из 19 розовых
                    br
                    |  тюльпанов

                span.prod__art Арт. 663

              .prod__bottom
                b.prod__price 1 800
                  small  руб.

          .swiper-slide.prod__slide
            .prod__item
              a.prod__img(href="#")
                noscript
                  img.lazy(src="img-temp/prod/img-3.jpg" alt="" width="125" height="90" data-object-fit-cover)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/prod/img-3.jpg" alt="" width="125" height="90" data-object-fit-cover)
              .prod__content
                a(href="#")
                  h3.prod__title Букет из спрей-роз
                    br
                    |  в упаковке

                span.prod__art Арт. 663

              .prod__bottom
                b.prod__price 1 500
                  small  руб.

          .swiper-slide.prod__slide
            .prod__item
              a.prod__img(href="#")
                noscript
                  img.lazy(src="img-temp/prod/img-4.jpg" alt="" width="125" height="90" data-object-fit-cover)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/prod/img-4.jpg" alt="" width="125" height="90" data-object-fit-cover)
              .prod__content
                a(href="#")
                  h3.prod__title Яркий букет
                    br
                    |  с осенними цветами

                span.prod__art Арт. 663

              .prod__bottom
                b.prod__price 1 500
                  small  руб.

          .swiper-slide.prod__slide
            .prod__item
              a.prod__img(href="#")
                noscript
                  img.lazy(src="img-temp/prod/img-3.jpg" alt="" width="125" height="90" data-object-fit-cover)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/prod/img-3.jpg" alt="" width="125" height="90" data-object-fit-cover)
              .prod__content
                a(href="#")
                  h3.prod__title Букет из спрей-роз
                    br
                    |  в упаковке

                span.prod__art Арт. 663

              .prod__bottom
                b.prod__price 1 500
                  small  руб.

          .swiper-slide.prod__slide
            .prod__item
              a.prod__img(href="#")
                noscript
                  img.lazy(src="img-temp/prod/img-4.jpg" alt="" width="125" height="90" data-object-fit-cover)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/prod/img-4.jpg" alt="" width="125" height="90" data-object-fit-cover)
              .prod__content
                a(href="#")
                  h3.prod__title Яркий букет
                    br
                    |  с осенними цветами

                span.prod__art Арт. 663

              .prod__bottom
                b.prod__price 1 500
                  small  руб.

          .swiper-slide.prod__slide
            .prod__item
              a.prod__img(href="#")
                noscript
                  img.lazy(src="img-temp/prod/img-1.jpg" alt="" width="125" height="90" data-object-fit-cover)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/prod/img-1.jpg" alt="" width="125" height="90" data-object-fit-cover)
              .prod__content
                a(href="#")
                  h3.prod__title Плайм-коробочка
                    br
                    |  в нежно-розовой гамме

                span.prod__art Арт. 663

              .prod__bottom
                b.prod__price 1 700
                  small  руб.

          .swiper-slide.prod__slide
            .prod__item
              a.prod__img(href="#")
                noscript
                  img.lazy(src="img-temp/prod/img-2.jpg" alt="" width="125" height="90" data-object-fit-cover)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/prod/img-2.jpg" alt="" width="125" height="90" data-object-fit-cover)
              .prod__content
                a(href="#")
                  h3.prod__title Букет из 19 розовых
                    br
                    |  тюльпанов

                span.prod__art Арт. 663

              .prod__bottom
                b.prod__price 1 800
                  small  руб.


      .prod__btns
        .btn__wrap
          a.btn.btn--transparent(href="#") Показать еще


  // /.scr_prod


mixin scr_prod--pink2(xTitle, xID)
  section.scr_prod.prod.prod--pink.prod--pink2(id="scr_prod-" + xID +"")
    h1.title=xTitle

    .prod__top
      .prod__select
        p Сортировать:
        select
          option(value="1") Без сортировки
          option(value="2") По возрастанию
          option(value="3") По убыванию


    .prod__wrap
      .prod__slider(id="prod__slider-" + xID +"")
        .swiper-wrapper
          .swiper-slide.prod__slide
            .prod__item
              a.prod__img(href="#")
                noscript
                  img.lazy(src="img-temp/prod/img-1.jpg" alt="" width="125" height="90" data-object-fit-cover)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/prod/img-1.jpg" alt="" width="125" height="90" data-object-fit-cover)
              .prod__content
                a(href="#")
                  h3.prod__title Плайм-коробочка
                    br
                    |  в нежно-розовой гамме

                span.prod__art Арт. 663

              .prod__bottom
                b.prod__price 1 700
                  small  руб.

          .swiper-slide.prod__slide
            .prod__item
              a.prod__img(href="#")
                noscript
                  img.lazy(src="img-temp/prod/img-2.jpg" alt="" width="125" height="90" data-object-fit-cover)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/prod/img-2.jpg" alt="" width="125" height="90" data-object-fit-cover)
              .prod__content
                a(href="#")
                  h3.prod__title Букет из 19 розовых
                    br
                    |  тюльпанов

                span.prod__art Арт. 663

              .prod__bottom
                b.prod__price 1 800
                  small  руб.

          .swiper-slide.prod__slide
            .prod__item
              a.prod__img(href="#")
                noscript
                  img.lazy(src="img-temp/prod/img-3.jpg" alt="" width="125" height="90" data-object-fit-cover)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/prod/img-3.jpg" alt="" width="125" height="90" data-object-fit-cover)
              .prod__content
                a(href="#")
                  h3.prod__title Букет из спрей-роз
                    br
                    |  в упаковке

                span.prod__art Арт. 663

              .prod__bottom
                b.prod__price 1 500
                  small  руб.

          .swiper-slide.prod__slide
            .prod__item
              a.prod__img(href="#")
                noscript
                  img.lazy(src="img-temp/prod/img-4.jpg" alt="" width="125" height="90" data-object-fit-cover)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/prod/img-4.jpg" alt="" width="125" height="90" data-object-fit-cover)
              .prod__content
                a(href="#")
                  h3.prod__title Яркий букет
                    br
                    |  с осенними цветами

                span.prod__art Арт. 663

              .prod__bottom
                b.prod__price 1 500
                  small  руб.

          .swiper-slide.prod__slide
            .prod__item
              a.prod__img(href="#")
                noscript
                  img.lazy(src="img-temp/prod/img-3.jpg" alt="" width="125" height="90" data-object-fit-cover)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/prod/img-3.jpg" alt="" width="125" height="90" data-object-fit-cover)
              .prod__content
                a(href="#")
                  h3.prod__title Букет из спрей-роз
                    br
                    |  в упаковке

                span.prod__art Арт. 663

              .prod__bottom
                b.prod__price 1 500
                  small  руб.

          .swiper-slide.prod__slide
            .prod__item
              a.prod__img(href="#")
                noscript
                  img.lazy(src="img-temp/prod/img-4.jpg" alt="" width="125" height="90" data-object-fit-cover)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/prod/img-4.jpg" alt="" width="125" height="90" data-object-fit-cover)
              .prod__content
                a(href="#")
                  h3.prod__title Яркий букет
                    br
                    |  с осенними цветами

                span.prod__art Арт. 663

              .prod__bottom
                b.prod__price 1 500
                  small  руб.

          .swiper-slide.prod__slide
            .prod__item
              a.prod__img(href="#")
                noscript
                  img.lazy(src="img-temp/prod/img-1.jpg" alt="" width="125" height="90" data-object-fit-cover)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/prod/img-1.jpg" alt="" width="125" height="90" data-object-fit-cover)
              .prod__content
                a(href="#")
                  h3.prod__title Плайм-коробочка
                    br
                    |  в нежно-розовой гамме

                span.prod__art Арт. 663

              .prod__bottom
                b.prod__price 1 700
                  small  руб.

          .swiper-slide.prod__slide
            .prod__item
              a.prod__img(href="#")
                noscript
                  img.lazy(src="img-temp/prod/img-2.jpg" alt="" width="125" height="90" data-object-fit-cover)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/prod/img-2.jpg" alt="" width="125" height="90" data-object-fit-cover)
              .prod__content
                a(href="#")
                  h3.prod__title Букет из 19 розовых
                    br
                    |  тюльпанов

                span.prod__art Арт. 663

              .prod__bottom
                b.prod__price 1 800
                  small  руб.

          .swiper-slide.prod__slide
            .prod__item
              a.prod__img(href="#")
                noscript
                  img.lazy(src="img-temp/prod/img-3.jpg" alt="" width="125" height="90" data-object-fit-cover)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/prod/img-3.jpg" alt="" width="125" height="90" data-object-fit-cover)
              .prod__content
                a(href="#")
                  h3.prod__title Букет из спрей-роз
                    br
                    |  в упаковке

                span.prod__art Арт. 663

              .prod__bottom
                b.prod__price 1 500
                  small  руб.

          .swiper-slide.prod__slide
            .prod__item
              a.prod__img(href="#")
                noscript
                  img.lazy(src="img-temp/prod/img-4.jpg" alt="" width="125" height="90" data-object-fit-cover)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/prod/img-4.jpg" alt="" width="125" height="90" data-object-fit-cover)
              .prod__content
                a(href="#")
                  h3.prod__title Яркий букет
                    br
                    |  с осенними цветами

                span.prod__art Арт. 663

              .prod__bottom
                b.prod__price 1 500
                  small  руб.

          .swiper-slide.prod__slide
            .prod__item
              a.prod__img(href="#")
                noscript
                  img.lazy(src="img-temp/prod/img-1.jpg" alt="" width="125" height="90" data-object-fit-cover)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/prod/img-1.jpg" alt="" width="125" height="90" data-object-fit-cover)
              .prod__content
                a(href="#")
                  h3.prod__title Плайм-коробочка
                    br
                    |  в нежно-розовой гамме

                span.prod__art Арт. 663

              .prod__bottom
                b.prod__price 1 700
                  small  руб.

          .swiper-slide.prod__slide
            .prod__item
              a.prod__img(href="#")
                noscript
                  img.lazy(src="img-temp/prod/img-2.jpg" alt="" width="125" height="90" data-object-fit-cover)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/prod/img-2.jpg" alt="" width="125" height="90" data-object-fit-cover)
              .prod__content
                a(href="#")
                  h3.prod__title Букет из 19 розовых
                    br
                    |  тюльпанов

                span.prod__art Арт. 663

              .prod__bottom
                b.prod__price 1 800
                  small  руб.

      +paginator

  // /.scr_prod

mixin scr_prod--pink3(xTitle, xID)
  section.scr_prod.prod.prod--pink.prod--pink3(id="scr_prod-" + xID +"")
    h2.title=xTitle

    .prod__wrap
      .prod__slider(id="prod__slider-" + xID +"")
        .swiper-wrapper
          .swiper-slide.prod__slide
            .prod__item
              a.prod__img(href="#")
                noscript
                  img.lazy(src="img-temp/prod/img-1.jpg" alt="" width="125" height="90" data-object-fit-cover)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/prod/img-1.jpg" alt="" width="125" height="90" data-object-fit-cover)
              .prod__content
                a(href="#")
                  h3.prod__title Плайм-коробочка
                    br
                    |  в нежно-розовой гамме

                span.prod__art Арт. 663

              .prod__bottom
                b.prod__price 1 700
                  small  руб.

          .swiper-slide.prod__slide
            .prod__item
              a.prod__img(href="#")
                noscript
                  img.lazy(src="img-temp/prod/img-2.jpg" alt="" width="125" height="90" data-object-fit-cover)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/prod/img-2.jpg" alt="" width="125" height="90" data-object-fit-cover)
              .prod__content
                a(href="#")
                  h3.prod__title Букет из 19 розовых
                    br
                    |  тюльпанов

                span.prod__art Арт. 663

              .prod__bottom
                b.prod__price 1 800
                  small  руб.

          .swiper-slide.prod__slide
            .prod__item
              a.prod__img(href="#")
                noscript
                  img.lazy(src="img-temp/prod/img-3.jpg" alt="" width="125" height="90" data-object-fit-cover)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/prod/img-3.jpg" alt="" width="125" height="90" data-object-fit-cover)
              .prod__content
                a(href="#")
                  h3.prod__title Букет из спрей-роз
                    br
                    |  в упаковке

                span.prod__art Арт. 663

              .prod__bottom
                b.prod__price 1 500
                  small  руб.

          .swiper-slide.prod__slide
            .prod__item
              a.prod__img(href="#")
                noscript
                  img.lazy(src="img-temp/prod/img-4.jpg" alt="" width="125" height="90" data-object-fit-cover)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/prod/img-4.jpg" alt="" width="125" height="90" data-object-fit-cover)
              .prod__content
                a(href="#")
                  h3.prod__title Яркий букет
                    br
                    |  с осенними цветами

                span.prod__art Арт. 663

              .prod__bottom
                b.prod__price 1 500
                  small  руб.

          .swiper-slide.prod__slide
            .prod__item
              a.prod__img(href="#")
                noscript
                  img.lazy(src="img-temp/prod/img-3.jpg" alt="" width="125" height="90" data-object-fit-cover)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/prod/img-3.jpg" alt="" width="125" height="90" data-object-fit-cover)
              .prod__content
                a(href="#")
                  h3.prod__title Букет из спрей-роз
                    br
                    |  в упаковке

                span.prod__art Арт. 663

              .prod__bottom
                b.prod__price 1 500
                  small  руб.

          .swiper-slide.prod__slide
            .prod__item
              a.prod__img(href="#")
                noscript
                  img.lazy(src="img-temp/prod/img-4.jpg" alt="" width="125" height="90" data-object-fit-cover)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/prod/img-4.jpg" alt="" width="125" height="90" data-object-fit-cover)
              .prod__content
                a(href="#")
                  h3.prod__title Яркий букет
                    br
                    |  с осенними цветами

                span.prod__art Арт. 663

              .prod__bottom
                b.prod__price 1 500
                  small  руб.

          .swiper-slide.prod__slide
            .prod__item
              a.prod__img(href="#")
                noscript
                  img.lazy(src="img-temp/prod/img-1.jpg" alt="" width="125" height="90" data-object-fit-cover)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/prod/img-1.jpg" alt="" width="125" height="90" data-object-fit-cover)
              .prod__content
                a(href="#")
                  h3.prod__title Плайм-коробочка
                    br
                    |  в нежно-розовой гамме

                span.prod__art Арт. 663

              .prod__bottom
                b.prod__price 1 700
                  small  руб.

          .swiper-slide.prod__slide
            .prod__item
              a.prod__img(href="#")
                noscript
                  img.lazy(src="img-temp/prod/img-2.jpg" alt="" width="125" height="90" data-object-fit-cover)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/prod/img-2.jpg" alt="" width="125" height="90" data-object-fit-cover)
              .prod__content
                a(href="#")
                  h3.prod__title Букет из 19 розовых
                    br
                    |  тюльпанов

                span.prod__art Арт. 663

              .prod__bottom
                b.prod__price 1 800
                  small  руб.


      .prod__info
        .article
          p Каждый день создаются новые сорта цветов. Это позволяет заказать с доставкой возлюбленным и знакомым постоянно различные новые букеты, исключая повторения,. Кроме разнообразия по форме и цветовой окраски, меняется и форма подачи. В последние года большой популярностью пользуются цветы в коробке. Они пришли на альтернативу букетам и корзинам с цветочным оформлением.

          h3 Основные виды цветов в коробке (flowers box)

          p Самым распространенным вариантом – являются цветы в шляпной коробочке. Разнообразные расцветки (белые, розовые, голубые, черные…) и размеры (от 15х15 до 50х50 см.) позволят вам определиться в выборе. Количество роз которое можно заказать, от 19 до 101 розы. Цветовая расцветка роз может быть как одного цвета, так и ассорти. Если вы хотите выразить свои чувства, отлично подойдет вариант в коробочке в виде сердца с цветочным оформлением и сладостями. Цветочное оформление порадуют вашу возлюбленную, а коробочка в виде сердца скажет все за вас. Сладости – доставят дополнительное удовольствие. Можно использовать: мини шоколадки, rafaello, макаронсы или фрукты (клебника, малина, черника, ежевика…). Деревянные ящички – гармоничное сочетания цветов и стиля. Всевозможные варианты вы можете заказать на нашем сайте с доставкой по г. Симферополю, Симферопольскому району и Республике Крым.
          p Не стоит забывать, что при оформлении цветами можно заказать как розы, так и сборный вариант.

          h3 Основные преимущества цветов в коробке

          ul
            li Современный вариант подачи цветов.
            li Удобство в транспортировке и хранении. (Цветы находятся на флористической губке содержащую воду. Получателю нет необходимости в вазе, а стоит лишь подливать воду в коробку)
            li Цветы на не высокой ноге, что позволяет воде лучше доходить до бутона. (Цветы у получателя простоят дольше)
            li Разнообразные формы, цветовые расцветки и рисунки коробочек – что подчеркнут красоту цветов.

          p Одним из последних направлений является коробочки с цветочным оформлением и портретом дорогого вам человека. Кроме стильного подарка, у получателя будет свое изображение на бумаге. Стоит обратить внимание,что заказ оформляется заранее, для художника требуется время на изготовление рисунка.


  // /.scr_prod

mixin scr_prod--pink4(xTitle, xID)
  section.scr_prod.prod.prod--pink.prod--pink3(id="scr_prod-" + xID +"")
    h2.title=xTitle

    .prod__wrap
      .prod__slider(id="prod__slider-" + xID +"")
        .swiper-wrapper
          .swiper-slide.prod__slide
            .prod__item
              a.prod__img(href="#")
                noscript
                  img.lazy(src="img-temp/prod/img-1.jpg" alt="" width="125" height="90" data-object-fit-cover)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/prod/img-1.jpg" alt="" width="125" height="90" data-object-fit-cover)
              .prod__content
                a(href="#")
                  h3.prod__title Плайм-коробочка
                    br
                    |  в нежно-розовой гамме

                span.prod__art Арт. 663

              .prod__bottom
                b.prod__price 1 700
                  small  руб.

          .swiper-slide.prod__slide
            .prod__item
              a.prod__img(href="#")
                noscript
                  img.lazy(src="img-temp/prod/img-2.jpg" alt="" width="125" height="90" data-object-fit-cover)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/prod/img-2.jpg" alt="" width="125" height="90" data-object-fit-cover)
              .prod__content
                a(href="#")
                  h3.prod__title Букет из 19 розовых
                    br
                    |  тюльпанов

                span.prod__art Арт. 663

              .prod__bottom
                b.prod__price 1 800
                  small  руб.

          .swiper-slide.prod__slide
            .prod__item
              a.prod__img(href="#")
                noscript
                  img.lazy(src="img-temp/prod/img-3.jpg" alt="" width="125" height="90" data-object-fit-cover)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/prod/img-3.jpg" alt="" width="125" height="90" data-object-fit-cover)
              .prod__content
                a(href="#")
                  h3.prod__title Букет из спрей-роз
                    br
                    |  в упаковке

                span.prod__art Арт. 663

              .prod__bottom
                b.prod__price 1 500
                  small  руб.

          .swiper-slide.prod__slide
            .prod__item
              a.prod__img(href="#")
                noscript
                  img.lazy(src="img-temp/prod/img-4.jpg" alt="" width="125" height="90" data-object-fit-cover)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/prod/img-4.jpg" alt="" width="125" height="90" data-object-fit-cover)
              .prod__content
                a(href="#")
                  h3.prod__title Яркий букет
                    br
                    |  с осенними цветами

                span.prod__art Арт. 663

              .prod__bottom
                b.prod__price 1 500
                  small  руб.

          .swiper-slide.prod__slide
            .prod__item
              a.prod__img(href="#")
                noscript
                  img.lazy(src="img-temp/prod/img-3.jpg" alt="" width="125" height="90" data-object-fit-cover)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/prod/img-3.jpg" alt="" width="125" height="90" data-object-fit-cover)
              .prod__content
                a(href="#")
                  h3.prod__title Букет из спрей-роз
                    br
                    |  в упаковке

                span.prod__art Арт. 663

              .prod__bottom
                b.prod__price 1 500
                  small  руб.

          .swiper-slide.prod__slide
            .prod__item
              a.prod__img(href="#")
                noscript
                  img.lazy(src="img-temp/prod/img-4.jpg" alt="" width="125" height="90" data-object-fit-cover)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/prod/img-4.jpg" alt="" width="125" height="90" data-object-fit-cover)
              .prod__content
                a(href="#")
                  h3.prod__title Яркий букет
                    br
                    |  с осенними цветами

                span.prod__art Арт. 663

              .prod__bottom
                b.prod__price 1 500
                  small  руб.

          .swiper-slide.prod__slide
            .prod__item
              a.prod__img(href="#")
                noscript
                  img.lazy(src="img-temp/prod/img-1.jpg" alt="" width="125" height="90" data-object-fit-cover)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/prod/img-1.jpg" alt="" width="125" height="90" data-object-fit-cover)
              .prod__content
                a(href="#")
                  h3.prod__title Плайм-коробочка
                    br
                    |  в нежно-розовой гамме

                span.prod__art Арт. 663

              .prod__bottom
                b.prod__price 1 700
                  small  руб.

          .swiper-slide.prod__slide
            .prod__item
              a.prod__img(href="#")
                noscript
                  img.lazy(src="img-temp/prod/img-2.jpg" alt="" width="125" height="90" data-object-fit-cover)
                img.lazy( src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="img-temp/prod/img-2.jpg" alt="" width="125" height="90" data-object-fit-cover)
              .prod__content
                a(href="#")
                  h3.prod__title Букет из 19 розовых
                    br
                    |  тюльпанов

                span.prod__art Арт. 663

              .prod__bottom
                b.prod__price 1 800
                  small  руб.



  // /.scr_prod
